@mixin bgImage($image) {
  background-image: url($image);
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flexing($direction, $wrap, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-content: $align;
}

@keyframes menuOpenAnimation {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes menuCloseAnimation {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
