.our-specialities-section {
  margin: auto;
  padding: 30px 0;
  @include bgImage("../resources/our-specialities.jpg");

  .our-specialities-text {
    width: 60%;
    margin: auto;

    h1 {
      font-family: "Alex Brush", cursive;
      font-size: 48px;
      padding-top: 30px;
      text-align: center;
      color: #fff;
    }

    p {
      text-align: center;
      font-size: 18px;
      color: #fff;
      margin: 0 30px;
      padding: 0 40px;
    }
  }

  .options {
    width: 60%;
    margin: 60px auto;
    background-color: transparent;
    @include flexing(row, wrap, space-between, center);

    div {
      background-color: #fff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      flex-basis: 24%;
    }

    .option-image {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    p {
      color: $textAndBorderColor;
      text-align: center;
      margin-left: 0px;
    }
  }
}

@media #{$information-resolution} {
  .our-specialities-section {
    .our-specialities-text {
      p {
        margin: 0;
        padding: 0;
      }
    }

    .options {
      flex-direction: column;

      div {
        margin: 30px;
      }
    }
  }
}
