.reservation-section {
  @include bgImage("../resources/reservation-section.jpg");

  .container {
    @include flexing(column, wrap, center, center);
  }

  .reservation {
    @include flexing(column, wrap, center, center);

    h1 {
      margin: 60px auto 0px auto;
      text-align: center;
      color: #fff;
      font-family: "Alex Brush", cursive;
      font-size: 52px;
    }

    p {
      text-align: center;
      color: #fff;
    }
  }

  .date-selection {
    padding-top: 20px;
    @include flexing(row, nowrap, space-between, center);
    width: 100%;

    .reservation-drop-menu {
      @include flexing(column, wrap, center, center);
      flex-basis: 32%;
      margin-top: 10px;
      position: relative;

      .date-selection-date {
        width: 100%;
      }

      .drops {
        position: absolute;
        border: 1px solid grey;
        background-color: #fff;
        border-top: none;
        text-align: center;
        width: 100%;
        max-height: 130px;
        z-index: 1;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
        transition: 0.6s;
        overflow-y: scroll;
        top: 100%;
        box-sizing: border-box;

        &:hover {
          opacity: 1;
          visibility: visible;
          box-shadow: 0px 10px 10px rgba(30, 30, 30, 0.4);
        }

        a {
          display: block;
          text-decoration: none;
          color: #8c8c8c;
          padding: 5px 0px;
          border-bottom: 1px solid grey;
          transition: 0.2s;
          margin: 0;
          line-height: 25px;

          &:hover {
            font-size: 20px;
            background-color: grey;
            color: #fff;
          }
        }
      }

      input {
        width: 100%;
        height: 50px;
        cursor: pointer;
        border: 1px solid grey;
        transition: 0.2s;
        box-sizing: border-box;
        padding: 0px 4px;

        &:hover + .drops {
          opacity: 1;
          visibility: visible;
          box-shadow: 0px 10px 10px rgba(30, 30, 30, 0.4);
        }
      }
    }

    div {
      p {
        margin-left: 0px;
        color: #fff;
      }
    }
  }

  button {
    margin: 7% auto 60px auto;
    cursor: pointer;
    padding: 15px 40px;
    background-color: $textAndBorderColor;
    color: #000;
    border: 1px solid $textAndBorderColor;
  }
}

@media #{$information-resolution} {
  .reservation-section {
    .date-selection {
      flex-direction: column;
      margin: 0;
      padding: 30px;

      div {
        p {
          font-size: 13px;
        }
      }
    }
  }
}
