@import url("https://fonts.googleapis.com/css?family=Alex+Brush|Merriweather|Roboto+Condensed&display=swap");

$customGrayColor: #bcbcbd;
$textAndBorderColor: #bf9e7b;
$darkBgc: #141723;
$information-resolution: "only screen and (max-width : 1050px)";
