@import url("https://fonts.googleapis.com/css?family=Alex+Brush|Merriweather|Roboto+Condensed&display=swap");
@-webkit-keyframes menuOpenAnimation {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes menuOpenAnimation {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes menuCloseAnimation {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes menuCloseAnimation {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.main {
  background-image: url("../resources/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main .header-section {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navbar {
  color: #bcbcbd;
  border-bottom: 2px solid #bcbcbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.navbar .navbar-title {
  font-family: "Alex Brush", cursive;
  font-size: 48px;
  margin: 18px 0px 0px 0px;
}

.navbar .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.navbar .navbar-links a {
  margin: 16px;
  text-decoration: none;
  color: #bcbcbd;
  text-align: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.navbar .navbar-links a:hover {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.navbar .navbar-hamburger {
  display: none;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.navbar .navbar-hamburger div {
  margin: 3px;
  background-color: #bcbcbd;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  pointer-events: none;
}

.navbar .navbar-hamburger-open #bar1 {
  -webkit-transform: translateY(10px) rotateZ(45deg);
          transform: translateY(10px) rotateZ(45deg);
}

.navbar .navbar-hamburger-open #bar2 {
  opacity: 0;
}

.navbar .navbar-hamburger-open #bar3 {
  -webkit-transform: translateY(-10px) rotateZ(-45deg);
          transform: translateY(-10px) rotateZ(-45deg);
}

.navbar .hamburger-menu {
  display: none;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  top: 100%;
  -webkit-animation: menuCloseAnimation 1s;
          animation: menuCloseAnimation 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar .hamburger-menu a {
  font-size: 16px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 25px 0;
  margin: 10px;
  line-height: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #bf9e7b;
}

.navbar .hamburger-menu a:hover {
  background-color: #bcbcbd;
  color: #fff;
  font-size: 24px;
}

.navbar .hamburger-menu-open {
  opacity: 1;
  visibility: visible;
  height: auto;
  background-color: #fff;
  height: auto;
  -webkit-animation: menuOpenAnimation 1s;
          animation: menuOpenAnimation 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.motto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 240px;
  margin-top: 65px;
}

.motto .image {
  width: 70px;
  height: 100px;
  margin: 70px 180px 0 180px;
  background-image: url("../resources/icon.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.motto h1 {
  margin: 0px 4px 0px 4px;
  color: #bf9e7b;
  font-size: 48px;
  font-family: "Alex Brush", cursive;
}

.motto h3 {
  margin: 0px 0px 0px 4px;
  color: #fff;
  font-size: 28px;
}

.motto p {
  margin-top: 35px;
  width: 50%;
  color: #fff;
}

@media only screen and (max-width: 1050px) {
  .main .header-section {
    width: auto;
    padding: 10px;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
  }
  .navbar .navbar-title {
    margin-left: 2%;
  }
  .navbar .navbar-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-right: 2%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 14px;
    outline: none;
    border: none;
    background-color: transparent;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .navbar .hamburger-menu {
    display: block;
  }
  .navbar .navbar-links {
    display: none;
  }
  .motto .image {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
  }
}

.about-section {
  margin: 60px auto 0 auto;
  width: 60%;
}

.about-section .about-section-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -ms-grid-rows: 3fr 4fr;
      grid-template-rows: 3fr 4fr;
  grid-column-gap: 0;
  grid-row-gap: 30px;
  margin-top: -300px;
  margin-bottom: 40px;
}

.about-section .about-section-container .about-us {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  place-self: end;
}

.about-section .about-section-container .about-us h2 {
  font-size: 48px;
  text-align: center;
  color: #bf9e7b;
  font-family: "Alex Brush", cursive;
}

.about-section .about-section-container .about-us p {
  color: #808080;
  margin: 10px;
  padding: 20px 30px 10px 15px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  overflow-y: auto;
  max-width: 900px;
}

.about-section .about-section-container .contact {
  max-width: 500px;
  -ms-grid-column: 2;
  grid-column: 2;
  place-self: end;
}

.about-section .about-section-container .contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #141723;
  padding: 15px 20px;
  -ms-grid-row: 1;
  grid-row: 1;
}

.about-section .about-section-container .contact .contact-info h2,
.about-section .about-section-container .contact .contact-info a {
  color: #bf9e7b;
}

.about-section .about-section-container .contact .contact-info h4,
.about-section .about-section-container .contact .contact-info p {
  color: #fff;
}

.about-section .about-section-container .contact .contact-info h2,
.about-section .about-section-container .contact .contact-info h4,
.about-section .about-section-container .contact .contact-info p,
.about-section .about-section-container .contact .contact-info a {
  margin: 8px 0px 8px 8px;
}

.about-section .about-section-container .contact .contact-info button {
  margin: auto;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #bf9e7b;
}

.about-section .about-section-container .about-image {
  background-image: url("../resources/about-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 500px;
  width: 100%;
  place-self: end;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

@media only screen and (max-width: 1050px) {
  .about-section .about-section-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin-top: -340px;
  }
  .about-section .about-section-container .contact {
    width: auto;
    place-self: center;
  }
  .about-section .about-section-container .about-us {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .about-section .about-section-container .about-us p {
    padding: 20px 20px;
  }
  .about-section .about-section-container .about-image {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .about-section .about-section-container {
    margin-top: -500px;
  }
}

.our-specialities-section {
  margin: auto;
  padding: 30px 0;
  background-image: url("../resources/our-specialities.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.our-specialities-section .our-specialities-text {
  width: 60%;
  margin: auto;
}

.our-specialities-section .our-specialities-text h1 {
  font-family: "Alex Brush", cursive;
  font-size: 48px;
  padding-top: 30px;
  text-align: center;
  color: #fff;
}

.our-specialities-section .our-specialities-text p {
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin: 0 30px;
  padding: 0 40px;
}

.our-specialities-section .options {
  width: 60%;
  margin: 60px auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.our-specialities-section .options div {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
}

.our-specialities-section .options .option-image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.our-specialities-section .options p {
  color: #bf9e7b;
  text-align: center;
  margin-left: 0px;
}

@media only screen and (max-width: 1050px) {
  .our-specialities-section .our-specialities-text p {
    margin: 0;
    padding: 0;
  }
  .our-specialities-section .options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-specialities-section .options div {
    margin: 30px;
  }
}

.our-menu-section {
  background-color: #141723;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.our-menu-section .our-menu-head {
  margin: auto;
  padding-top: 30px;
  width: 60%;
}

.our-menu-section .our-menu-head h1 {
  color: #bf9e7b;
  text-align: center;
  font-family: "Alex Brush", cursive;
  font-size: 48px;
  margin: 30px auto 0px auto;
}

.our-menu-section .our-menu-head p {
  color: #fff;
  text-align: center;
}

.our-menu-section .menu {
  width: 60%;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.our-menu-section .menu h1 {
  font-weight: lighter;
  color: #bf9e7b;
  text-align: center;
  margin: 0;
  font-size: 22px;
}

.our-menu-section .menu .all-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 50px;
  margin-top: 20px;
}

.our-menu-section .menu .all-options h3 {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
}

.our-menu-section .menu .all-options p {
  font-size: 14px;
  padding-right: 32px;
  margin-left: 0;
  font-weight: lighter;
  color: #fff;
}

.our-menu-section .menu .all-options .single-option {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
}

.our-menu-section .menu .all-options .single-option p {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  color: #bcbcbd;
  padding: 0;
  max-width: 400px;
}

.our-menu-section .menu .all-options .single-option h2 {
  color: #bf9e7b;
  text-align: center;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  place-self: center;
}

.our-menu-section button {
  margin: 8% auto 60px auto;
  cursor: pointer;
  padding: 15px 40px;
  background-color: #bf9e7b;
  color: #000;
  border: 1px solid #bf9e7b;
}

@media only screen and (max-width: 1050px) {
  .our-menu-section .menu h1 {
    padding: 0;
  }
  .our-menu-section .menu .all-options {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 0;
  }
  .our-menu-section .menu .all-options .single-option {
    padding: 7%;
  }
  .our-menu-section .menu .all-options .single-option p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .our-menu-section .menu .all-options .single-option h2 {
    -ms-grid-row: 1;
    grid-row: 1;
    place-self: center;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .our-menu-section .menu .all-options .single-option h3 {
    margin: 0;
    font-size: 25px;
    padding-right: 3%;
  }
}

.reservation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url("../resources/reservation-section.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.reservation-section .reservation {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 60%;
}

.reservation-section .reservation h1 {
  margin: 60px auto 0px auto;
  text-align: center;
  color: #fff;
  font-family: "Alex Brush", cursive;
  font-size: 52px;
}

.reservation-section .reservation p {
  text-align: center;
  color: #fff;
}

.reservation-section .date-selection {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.reservation-section .date-selection .reservation-drop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  margin-top: 10px;
  position: relative;
}

.reservation-section .date-selection .reservation-drop-menu .date-selection-date {
  width: 100%;
}

.reservation-section .date-selection .reservation-drop-menu .drops {
  position: absolute;
  border: 1px solid grey;
  background-color: #fff;
  border-top: none;
  text-align: center;
  width: 100%;
  max-height: 130px;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow-y: scroll;
  top: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reservation-section .date-selection .reservation-drop-menu .drops:hover {
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: 0px 10px 10px rgba(30, 30, 30, 0.4);
          box-shadow: 0px 10px 10px rgba(30, 30, 30, 0.4);
}

.reservation-section .date-selection .reservation-drop-menu .drops a {
  display: block;
  text-decoration: none;
  color: #8c8c8c;
  padding: 5px 0px;
  border-bottom: 1px solid grey;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0;
  line-height: 25px;
}

.reservation-section .date-selection .reservation-drop-menu .drops a:hover {
  font-size: 20px;
  background-color: grey;
  color: #fff;
}

.reservation-section .date-selection .reservation-drop-menu input {
  width: 100%;
  height: 50px;
  cursor: pointer;
  border: 1px solid grey;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 4px;
}

.reservation-section .date-selection .reservation-drop-menu input:hover + .drops {
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: 0px 10px 10px rgba(30, 30, 30, 0.4);
          box-shadow: 0px 10px 10px rgba(30, 30, 30, 0.4);
}

.reservation-section .date-selection div p {
  margin-left: 0px;
  color: #fff;
}

.reservation-section button {
  margin: 7% auto 60px auto;
  cursor: pointer;
  padding: 15px 40px;
  background-color: #bf9e7b;
  color: #000;
  border: 1px solid #bf9e7b;
}

@media only screen and (max-width: 1050px) {
  .reservation-section .date-selection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 9%;
  }
  .reservation-section .date-selection div p {
    font-size: 13px;
  }
}

.information-section {
  background-color: #141723;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.information-section p {
  margin: 0px;
  padding: 12px 0px;
  text-align: left;
  font-size: 12px;
  color: #fff;
}

.information-section .infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  grid-column-gap: 20px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 60%;
  margin: 20px auto;
  padding-top: 20px;
}

.information-section .infos button {
  cursor: pointer;
  margin: 14px 0px 10px 0px;
  padding: 8px 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #bf9e7b;
}

.information-section .infos .info-option {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.information-section .infos .info-option h4 {
  margin: 0px 0px 10px 0px;
  color: #fff;
  font-weight: lighter;
}

.information-section .infos .social-buttons {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.information-section .infos .social-buttons button {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-row: 2;
  grid-row: 2;
}

.information-section .infos .social-buttons #facebook {
  background-image: url("../resources/facebook-logo.png");
}

.information-section .infos .social-buttons #twitter {
  background-image: url("../resources/twitter-logo.png");
}

.information-section .infos .social-buttons #google {
  background-image: url("../resources/google-logo.png");
}

.information-section .infos .social-buttons #youtube {
  background-image: url("../resources/youtube-logo.png");
}

.information-section #copy-right {
  width: 60%;
  margin: auto;
  color: #bf9e7b;
  padding-top: 50px;
}

.information-section #info-reservation-button {
  place-self: start;
  text-align: center;
  -ms-grid-row: 2;
  grid-row: 2;
}

.information-section #info-view-button {
  place-self: start;
  text-align: center;
  -ms-grid-row: 2;
  grid-row: 2;
}

@media only screen and (max-width: 1050px) {
  .information-section .infos {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .information-section .infos .social-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .information-section .infos #info-reservation-button {
    grid-row: auto;
  }
  .information-section .infos #info-view-button {
    grid-row: auto;
  }
}

html,
body {
  margin: auto;
  display: block;
}

p,
a {
  font-family: "Merriweather", serif;
  font-size: 14px;
}

button {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
}

@media only screen and (max-width: 1050px) {
  .about-section,
  .our-specialities-section,
  .options,
  .our-menu-head,
  .menu,
  .reservation,
  .date-selection,
  .infos,
  #copy-right {
    width: auto;
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */